name: Publish to dev.to
on:
  push:
    branches: [main]
    paths:
      - 'posts/**/*.md'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Publish articles on dev.to
        uses: sinedied/publish-devto@v2
        with:
          devto_key: ${{ secrets.DEVTO_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: 'posts/**/*.md'
          branch: main
          conventional_commits: true
          dry_run: false
